
<%= stylesheet_link_tag 'index', :media => "all" %>


<div class="tweets-container">
  <h3>Lapangan Akun Instagram</h3>

      <%= notice %>
    <% @tweets.each do |t| %>
      <div class="tweet">
        <div class="main-box">
          <div class="right-container">

            <div id="r-c-image">
             <%= image_tag t.user.image.url if t.user.image? %>
            </div>

            <div class="r-c-part" id="r-c-igid">
              <div class="r-c-message">Instagram ID</div>
              <%= t.user.igid %>
            </div>
            <div class="r-c-part" id="r-c-name">
              <div class="r-c-message" id="rcm">User Name</div>
              <%= t.user.name %>
            </div>
            <div class="r-c-part" id="r-c-body">
              <div class="r-c-message" id="rcm2">Dengan Siapa Mau Berteman</div>
              <%= t.body %>
            </div>
          
          </div>
        </div>
      </div>
    <% end %>
</div>