
<%= stylesheet_link_tag 'index', :media => "all" %>

<%= button_to 'ログアウト', destroy_user_session_path, method: :delete %>
<% if user_signed_in? %>
<%= link_to "マイページへ", user_path(current_user.id) %>　
<% end %>

<div class="tweets-container">
<h3>Repertorium Tweet</h3>
  <% @tweets.each do |t| %>
    <div class="tweet">
      <div class="main-box">
        <div class="left-container"><%= t.body %></div>
        <div class="right-container">
          <%= t.user.email %>
          <%= link_to "Detail", tweet_path(t.id) %>
          <%= link_to "Delasi", tweet_path(t.id), method: :delete %>
        </div>
      </div>
        <p class="time"><%= t.created_at %></p>
    </div>
  <% end %>
</div>