<%= stylesheet_link_tag 'new', :media => "all" %>


<div id="new-message">

    <h3>Dengan Siapa Kamu Mau Berteman? Tolong Menjelaskan Kebutuhanmu</h3>
    <h5>| Chonth |</h5>
    <h5>・Saya ingin saling mengikuti dengan siapa pun</h5>
    <h5>・Bagus untuk orang-orang dengan minat yang sama dengan saya</h5>

</div>

<div class="post-container">

        <%= notice %>

    <%= form_for(@tweet, :url => { controller:'tweets', action:'create'})do |f| %>
    <%= f.label :IsiPembukuan %>
        <br>
        <%= f.text_field :body,size: 140%>
        <br>
    <%= f.submit "Mengirim"%>
    <br>
    <% end %>

</div>